* {
  box-sizing: border-box;
}

body {
  background-color: rgba(107, 141, 69, 0.733);
}

h2,
header {
  text-align: center;
  font-size: xx-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(107, 141, 69, 0.733);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  background-color: rgba(107, 141, 69, 0.733);
}

.innerContainer {
  display: block;
  margin: 60px auto;
  transition: 0.3s;
  width: 80vw;
  box-shadow: 0 4px 8px 0 black;
  text-align: center;
  padding-top: 20px;
}

#startbtn {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(94, 182, 35);
  margin: 20px;
}

h3 {
  font-size: xx-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: solid;
}
.choicestyle {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  margin: 8px;
  justify-content: space-between; /* Distribute items with space between them */
  align-items: center; /* Center items vertically */

  background-color: rgb(104, 145, 119);
}

#submitScoreButton {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(94, 182, 35);
  margin: 20px;
}

#startAgainButton {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(94, 182, 35);
  margin: 20px;
}

#question {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.message {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.timer {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
